* {
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
  
  .wrapper > div {
    border: 2px solid rgb(233 171 88);
    border-radius: 5px;
    background-color: rgb(233 171 88 / 50%);
    padding: 1em;
    color: #d9480f;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 ;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 7;
    grid-row: 1;
  }
  .three {
    grid-column: 7;
    grid-row: 1;
  }
  .four {
    grid-column: 1;
    grid-row: 2/4;
  }
  .five {
    grid-column: 1/8;
    grid-row: 4;
  }
  .six {
    grid-column: 2/8;
    grid-row: 2/4;
  }
  
.content {
  margin-left: 20px; 
  margin-top: 20px; 
  padding-right: 20px; 
  width: calc(100% - 220px); 
  max-width: 1200px; 
}

.content {
  margin-left: 10px;
  margin-right: 10px;
}
